.share-page {
  position: absolute;
  cursor: move;
  z-index: 9999;
}

.share {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #FFF;
  background-color: #F36B21;
  text-align: center;
  align-items: center;
  line-height: 45px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background-color 0.4s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
}

.share.active {
  background-color: #000;
}

.social li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #FFF;
  background-color: #FFF;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 8px;
  box-shadow: 0.5px 0.87px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  /* transform: scale(0.4); */
}

.social.active li {
  transform: scale(1);
}

.social li .facebook {
  color: #3A589E;
}

.social li .twitter {
  color: #5FA9DD;
}

.social li .linkedin {
  color: #0D77B7;
}

.social li .whatsapp {
  color: #2ba220;
}

.social li .google {
  color: #DF4B38;
}